<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <button class="btn btn-info" routerLink="/miembros"><span class="fa fa-caret-left"></span> &nbsp; Atras</button>
          <h5 class="title">Inscripción Auspiciante</h5>
        </div>
        <div class="card-body">
          <form (submit)="store()" [formGroup]="organizadorGroup" *ngIf="organizaciones !== null && eventos !== null" role="form">

            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label>Seleccione Evento</label>
                <select name="evento_id" id="evento_id" formControlName="evento_id" class="form-control">
                  <option [value]="evento.evento_id" *ngFor="let evento of eventos">{{ evento.nombre }}</option>
                </select>
              </div>
            </div>

            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label>Seleccione Organización</label>
                <select name="organizacion_id" id="organizacion_id" formControlName="organizacion_id" class="form-control">
                  <option [value]="organizacion.organizacion_id" *ngFor="let organizacion of organizaciones">{{ organizacion.nombre }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label>Fecha Acuerdo</label>
                <input type="date" name="fecha" id="fecha" formControlName="fecha" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <div class="form-group">
                    <button class="btn btn-dark" routerLink="/miembros/listar" >Cancelar &nbsp;  <span class="fa fa-window-close"></span></button>
                    <button class="btn btn-primary" [disabled]="organizadorGroup.status === 'INVALID'" type="submit" >Guardar &nbsp;  <span class="fa fa-save"></span></button>
                  </div>  </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img class="avatar border-gray" src="../assets/img/mike.jpg" alt="...">
            </a>
            <br>
            <button class="btn btn-primary" routerLink="/organizacion/crear" >Tipo Persona &nbsp;  <span class="fa fa-save"></span></button>
            <p class="description">
              Tipos de Organizaciones
            </p>
          </div>
          <p class="description text-center">
            "Lamborghini Mercy
            <br> Your chick she so thirsty
            <br> I'm in that two seat Lambo"
          </p>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
