<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <h3>&nbsp;&nbsp; Lista Eventos</h3>
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <button class="btn btn-info" routerLink="/eventos/crear">REGISTRAR &nbsp; <span class="fa fa-save"></span></button>
                  </div>
                  <div class="col-sm">
                  </div>
                  <div class="col-sm">
                    <form (submit)="buscar(valor)" class="form-inline" role="form">
                      <div class="form-group">
                        <input type="email" class="input-search"
                               [(ngModel)]="valor"
                               name="valor">
                      </div>
                      <button type="submit" class="btn btn-primary">Buscar</button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="card-body">
                    <div *ngIf="eventos !== null" class="table-responsive">
                      <table class="table">
                        <thead style="background-color: #303030; color: #f7f7f7">
                      <th> #   </th>
                      <th> Proyecto   </th>
                      <th> Tipo   </th>
                      <th> Nombre   </th>
                      <th> Imagen   </th>
                      <th> Dirección </th>
                      <th> Inicia </th>
                      <th> Finaliza </th>
                      <th class="text-center">Operaciones</th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let evento of eventos.data; let i = index">
                      <td>  {{i+1}} </td>
                      <td>  {{ evento.proyecto }} </td>
                      <td>  {{ evento.tipo_evento }} </td>
                      <td>  {{ evento.nombre }} </td>
                      <td>
                        <span *ngIf="!evento.imagen" class="badge badge-danger">Sin imagen</span>
                        <img src="{{base_imagen}}{{evento.imagen}}" height="75"
                             [alt]="evento.nombre" *ngIf="evento.imagen">
                      </td>
                      <td>  {{ evento.direccion }} </td>
                      <td>  {{ evento.fecha_evento | date: 'dd/MM/yyyy' }} </td>
                      <td>  {{ evento.fecha_finaliza | date: 'dd/MM/yyyy' }} </td>
                      <td class="text-center">
                        <a routerLink="/eventos/editar/{{ evento.evento_id }}" title="Editar Evento" class="action action-edit"> <i class="fas fa-edit"></i> </a>
                        <a (click)="destroy(evento, i)" title="Eliminar Evento" class="action action-destroy"> <i class="fas fa-trash"></i> </a>
                        <label for="imagen-{{evento.evento_id}}"
                               title="Cambiar Imagen"
                               class="action action-info"><i class="fas fa-upload"></i></label>
                        <input type="file" id="imagen-{{evento.evento_id}}" class="hidden" (change)="cambiarImagen(evento.evento_id)">
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div *ngIf="eventos !== null && eventos.last_page > 1" class="paginacion text-center">
                  <div>
                    Página {{ eventos.current_page }} de {{ eventos.last_page }}
                  </div>
                  <button class="paginacion-btn" (click)="loadPagination(eventos.first_page_url)"><i class="fa fa-backward"></i></button>
                  <button class="paginacion-btn" (click)="loadPagination(eventos.prev_page_url)" [disabled]="eventos.prev_page_url === null"><i class="fa fa-chevron-left"></i></button>
                  <button class="paginacion-btn" *ngFor="let page of pages" [class.activated]="page.page == eventos.current_page" (click)="loadPagination(page.url)">{{ page.page }}</button>
                  <button class="paginacion-btn" (click)="loadPagination(eventos.next_page_url)" [disabled]="eventos.next_page_url === null"><i class="fa fa-chevron-right"></i></button>
                  <button class="paginacion-btn" (click)="loadPagination(eventos.last_page_url)"><i class="fa fa-forward"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




