<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              &nbsp; &nbsp;          <button class="btn btn-dark" routerLink="/eventos"><span class="fa fa-caret-left"></span> &nbsp; Atrás</button>
            </div>
          </div>
          <div class="col-md-10">
            <div class="form-group">
              <br>
              <h5 class="title">Editar Evento</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form (submit)="update()" [formGroup]="eventoGroup"
                *ngIf="evento !== null && proyectos !== null && tipo_eventos !== null && barrios !== null" role="form">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="proyecto_id">* Seleccione Proyecto</label>
                  <ng-select [items]="proyectos"
                             class="custom"
                             id="proyecto_id"
                             bindLabel="nombre"
                             bindValue="proyecto_id"
                             formControlName="proyecto_id">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="tipo_evento_id">* Seleccione Tipo Evento</label>
                  <ng-select [items]="tipo_eventos"
                             class="custom"
                             id="tipo_evento_id"
                             bindLabel="nombre"
                             bindValue="tipo_evento_id"
                             formControlName="tipo_evento_id">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>* Tema</label>
                  <input type="text" onKeyUp="this.value=this.value.toUpperCase();" class="form-control" formControlName="nombre" name="nombre" >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>* Seleccione Ubicación</label>
                  <ng-select [items]="barrios"
                             class="custom"
                             id="barrio_id"
                             bindLabel="nombre"
                             bindValue="barrio_id"
                             formControlName="barrio_id">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Dirección</label>
                  <input type="text" onKeyUp="this.value=this.value.toUpperCase();" class="form-control" formControlName="direccion" name="direccion">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Fecha Evento</label>
                  <input type="date" class="form-control" formControlName="fecha_evento" name="fecha_evento" >
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Fecha Finaliza Evento</label>
                  <input type="date" class="form-control" formControlName="fecha_finaliza" name="fecha_finaliza" id="fecha_finaliza">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Tiempo de Duración</label>
                  <input type="number" onKeyPress="if(this.value.length==2) return false;" class="form-control" formControlName="duracion_horas" name="duracion_horas" id="duracion_horas">
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12 text-right">
                <div class="form-group">
                  <button class="btn btn-info" type="submit" >Actualizar&nbsp;  <span class="fa fa-save"></span></button>
                  <a class="btn btn-dark" routerLink="/eventos" >Cancelar &nbsp;  <span class="fa fa-window-close"></span></a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="..." width="100%">
        </div>
        <div class="card-body">
          <div class="author">
            <br><br><br>
            <hr>
            <img #preview src="../assets/img/mike.jpg" width="200px">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
