<div class="logo" style="background-color: #ffffff">
    <div class="text-center">
        <img src="./assets/img/fepp.png" width="50%"/>
    </div>
</div>
<div class="sidebar-wrapper" style="background-image: url('./assets/img/sidebar.png')">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a (click)="go(menuItem.path)" >
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
