
<div class="logo">
    <a href="http://www.dte-ecuador.org" class="simple-text logo-mini">
      <div class="logo-img">
          <img src="./assets/img/angular2-logo-white.png"/>
      </div>
    </a>
    <a href="http://www.dte-ecuador.org" class="simple-text logo-normal">
        FEPP / DTMOWED
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
    <ul class="nav mainmenu">
        <li><a><i class="now-ui-icons loader_gear"></i><p>Configuración</p></a>
            <ul class="submenu">
                <br>
                <li class="nav-item">
                    <a routerLink="/tipoorganizacion">
                        <i class="now-ui-icons arrows-1_minimal-right"></i>
                        <p>Tipo Organización</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/tipoproyectos">
                        <i class="now-ui-icons arrows-1_minimal-right"></i>
                        <p>Tipo Proyectos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/tipoeventos">
                        <i class="now-ui-icons arrows-1_minimal-right"></i>
                        <p>Tipo Eventos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/actividades">
                        <i class="now-ui-icons arrows-1_minimal-right"></i>
                        <p>Tipo Actividad</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/usuarios">
                        <i class="now-ui-icons users_single-02"></i>
                        <p>Usuarios</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
