/* define a fixed width for the entire menu */
.navigation {
    width: 300px;
}

/* reset our lists to remove bullet points and padding */
.mainmenu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mainmenu li:hover .submenu {
    display: block;
    max-height: 320px;
}

.submenu a {
    background-color: #4e4e4e;
}

/* hover behaviour for links inside .submenu */
.submenu a:hover {
    background-color: #666;
}

.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
}