<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <button class="btn btn-info" routerLink="/organizadores"><span class="fa fa-caret-left"></span> &nbsp; Atrás</button>
          <h5 class="title">Editar Auspiciante</h5>
        </div>
        <div class="card-body">
          <form (submit)="update()"  [formGroup]="organizacion_eventoGroup" *ngIf="organizaciones !== null && eventos !== null" role="form">
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label>Seleccione Evento</label>
                <select name="evento_id" id="evento_id" formControlName="evento_id" class="form-control">
                  <option [value]="evento.evento_id" *ngFor="let evento of eventos">{{ evento.nombre }}</option>
                </select>
              </div>
            </div>

            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label>Seleccione Organización</label>
                <select name="organizacion_id" id="organizacion_id" formControlName="organizacion_id" class="form-control">
                  <option [value]="organizacion.organizacion_id" *ngFor="let organizacion of organizaciones">{{ organizacion.nombre }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label>Fecha Acuerdo</label>
                <input type="date" name="fecha" id="fecha" formControlName="fecha" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <a class="btn btn-dark" routerLink="/organizadores" >Cancelar &nbsp;  <span class="fa fa-window-close"></span></a>
                  <button class="btn btn-primary" type="submit" >Actualizar&nbsp;  <span class="fa fa-save"></span></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
