<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <br>
        <h3>&nbsp;&nbsp; Lista Tipo de Eventos</h3>
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <button class="btn btn-info" routerLink="/tipoeventos/crear">REGISTRAR &nbsp; <span class="fa fa-save"></span></button>
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
              <form (submit)="buscar(valor)" class="form-inline" role="form">
                <div class="form-group">
                  <input type="email" class="input-search"
                         [(ngModel)]="valor"
                         name="valor">
                </div>
                <button type="submit" class="btn btn-primary">Buscar</button>
              </form>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div *ngIf="tipoEventos !== null" class="table-responsive">
            <table class="table">
              <thead style="background-color: #303030; color: #f7f7f7">
                <th>#</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th class="text-center">Operaciones</th>
              </thead>
              <tbody>
              <tr *ngFor="let tipoevento of tipoEventos.data; let i = index">
                <td>
                  {{ i + 1 }}
                </td>
                <td>
                  {{ tipoevento.nombre }}
                </td>
                <td>
                  {{ tipoevento.descripcion }}
                </td>
                <td class="text-center">
                  <a routerLink="/tipoeventos/editar/{{tipoevento.tipo_evento_id}}" title="Editar Evento" class="action action-edit"> <i class="fas fa-edit "></i> </a>
                  <a (click)="destroy(tipoevento, i)" title="Eliminar Evento" class="action action-destroy"> <i class="fas fa-trash"></i> </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="tipoEventos !== null && tipoEventos.last_page > 1" class="paginacion text-center">
            <div>
              Página {{ tipoEventos.current_page }} de {{ tipoEventos.last_page }}
            </div>
            <button class="paginacion-btn" (click)="loadPagination(tipoEventos.first_page_url)"><i class="fa fa-backward"></i></button>
            <button class="paginacion-btn" (click)="loadPagination(tipoEventos.prev_page_url)" [disabled]="tipoEventos.prev_page_url === null"><i class="fa fa-chevron-left"></i></button>
            <button class="paginacion-btn" *ngFor="let page of pages" [class.activated]="page.page == tipoEventos.current_page" (click)="loadPagination(page.url)">{{ page.page }}</button>
            <button class="paginacion-btn" (click)="loadPagination(tipoEventos.next_page_url)" [disabled]="tipoEventos.next_page_url === null"><i class="fa fa-chevron-right"></i></button>
            <button class="paginacion-btn" (click)="loadPagination(tipoEventos.last_page_url)"><i class="fa fa-forward"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
