<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="row">
          <div class="col-md-12">
            <div style="overflow-x:auto;">
              <div class="card">
                <br>
                <h5>&nbsp;&nbsp; <strong>Proyectos</strong></h5>
                <hr>
                <div class="container">
                  <div class="row">
                    <div class="col-sm">
                      <button class="btn btn-info" routerLink="/proyectos/crear">REGISTRAR &nbsp; <span class="fa fa-save"></span></button>
                    </div>
                    <div class="col-sm">
                    </div>
                    <div class="col-sm">
                      <form (submit)="buscar(valor)" class="form-inline" role="form">
                        <div class="form-group">
                          <input type="email" class="input-search" [(ngModel)]="valor" name="valor">
                        </div>
                        <button type="submit" class="btn btn-primary">Buscar</button>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div *ngIf="proyectos !== null" class="table-responsive">
                    <table class="table">
                      <thead style="background-color: #e9ecef; color: #007bff">
                      <th> # </th>
                      <th> Imagen   </th>
                      <th> Nombre Proyecto</th>
                      <th> Tipo Proyecto </th>
                      <th> Lugar </th>
                      <th> Fecha Finaliza </th>
                      <th class="text-center">Operaciones</th>
                      <th class="text-center">Asignar Auspiciantes</th>
                      </thead>
                      <tbody>
                      <tr *ngFor="let proyecto of proyectos.data; let i = index">
                        <td> {{ i + 1}} </td>
                        <td>
                          <span *ngIf="!proyecto.imagen" class="badge badge-danger">Sin imagen</span>
                          <img src="{{url_base}}{{proyecto.imagen}}" height="75"
                               [alt]="proyecto.nombre" *ngIf="proyecto.imagen">
                        </td>
                        <td width="350px"> {{ proyecto.nombre }} </td>
                        <td> {{ proyecto.tipoproyecto }} </td>
                        <td> {{ proyecto.barrio }} </td>
                        <td> {{ proyecto.fin }} </td>
                        <td class="text-center">
                          <a routerLink="/proyectos/editar/{{proyecto.proyecto_id}}" title="Editar Proyecto" class="action action-edit"> <i class="fas fa-edit "></i> </a>
                          <a (click)="destroy(proyecto, i)" title="Eliminar Proyecto" class="action action-destroy"> <i class="fas fa-trash"></i> </a>
                          <label for="imagen-{{proyecto.proyecto_id}}"
                                 title="Cambiar Imagen"
                                 class="action action-info"><i class="fas fa-upload"></i></label>
                          <input type="file" id="imagen-{{proyecto.proyecto_id}}" class="hidden" (change)="cambiarImagen(proyecto.proyecto_id)">
                        </td>
                        <td class="text-center">
                          <button type="button" class="btn btn-xs btn-info" routerLink="/ejecutoras/crear">
                            <i class="fa fa-globe"></i>
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div *ngIf="proyectos !== null && proyectos.last_page > 1" class="paginacion text-center">
                  <div>
                    Página {{ proyectos.current_page }} de {{ proyectos.last_page }}
                  </div>
                  <button class="paginacion-btn" (click)="loadPagination(proyectos.first_page_url)"><i class="fa fa-backward"></i></button>
                  <button class="paginacion-btn" (click)="loadPagination(proyectos.prev_page_url)" [disabled]="proyectos.prev_page_url === null"><i class="fa fa-chevron-left"></i></button>
                  <button class="paginacion-btn" *ngFor="let page of pages" [class.activated]="page.page == proyectos.current_page" (click)="loadPagination(page.url)">{{ page.page }}</button>
                  <button class="paginacion-btn" (click)="loadPagination(proyectos.next_page_url)" [disabled]="proyectos.next_page_url === null"><i class="fa fa-chevron-right"></i></button>
                  <button class="paginacion-btn" (click)="loadPagination(proyectos.last_page_url)"><i class="fa fa-forward"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
