.selection {
  margin-top: -1.2em;
  padding: .5em 2.5em;
  color: whitesmoke;
  text-align: center;
}
.selection button {
  display: inline-block;
  width: 170px;
  margin: 0 1em;
  font-size: 0.8em;
  text-align: center;
}