.paginacion {
  margin-top: 1em;
}
.paginacion-btn{
  border: none;
  background-color: #1b1e21;
  color: whitesmoke;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}
.paginacion-btn:hover, .activated {
  background-color: #28a946;
}
.input-search {
  outline: none;
  box-sizing: border-box;
  padding: .5em;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: none;
  border: 1px solid lightgray;
}
