<div class="background">
    <br><br><br><br><br><br>
  <div class="row">
    <div class="offset-4 col-md-4">
      <div class="card">
        <div class="card-header">
<!--          <button class="btn btn-info" routerLink="/insumos/tipo-insumos"><span class="fa fa-caret-left"></span> &nbsp; Atrás</button>-->
          <h5 class="title">Iniciar Sesión</h5>
        </div>
        <div class="card-body">
          <form role="form">
            <div class="form-group">
              <label>Cuenta</label>
              <input type="text" class="form-control" autofocus>
            </div>
            <div class="form-group">
              <label>Contraseña</label>
              <input type="password" class="form-control">
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group text-center">
<!--                  <a class="btn btn-dark" routerLink="/insumos/tipo-insumos/listar" >Cancelar &nbsp;  <span class="fa fa-window-close"></span></a>-->
                  <button class="btn btn-primary" routerLink="/eventos">Iniciar Sesion&nbsp;  <span class="fa fa-sign-in"></span></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
