<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <button class="btn btn-info" routerLink="/tipoorganizacion/listar"><span class="fa fa-caret-left"></span> &nbsp; Atras</button>
          <h5 class="title">Registrar Tipo Organización</h5>
        </div>
        <div class="card-body">
          <form (submit)="store()" [formGroup]="tipoorganizacionGroup" role="form">
          <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Tipo Organización</label>
                  <input type="text" class="form-control" formControlName="nombre" name="nombre" id="nombre" autofocus>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Descripcion</label>
                  <input type="text" class="form-control" formControlName="descripcion" name="descripcion" id="descripcion" autofocus>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <button class="btn btn-dark" routerLink="/tipoorganizacion/listar" >Cancelar &nbsp;  <span class="fa fa-window-close"></span></button>
                  <button class="btn btn-primary" type="submit" >Guardar &nbsp;  <span class="fa fa-save"></span></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
