<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <h3>&nbsp;&nbsp; Lista Inscripciones</h3>
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <button class="btn btn-info" routerLink="/inscripciones/crear">REGISTRAR &nbsp; <span class="fa fa-save"></span></button>
                  </div>
                  <div class="col-sm">
                  </div>
                  <div class="col-sm">
                    <form (submit)="buscar()" class="form-inline" role="form">
                      <div class="form-group">
                        <input type="email" class="input-search"
                               [(ngModel)]="valor"
                               name="valor">
                      </div>
                      <button type="submit" class="btn btn-primary">Buscar</button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table small" *ngIf="participantes !== null">
                    <thead style="background-color: #303030; color: #f7f7f7">
                    <tr>
                      <th> #   </th>
                      <th> Evento   </th>
                      <th> Participante   </th>
                      <th> Observación   </th>
                      <th class="text-center">Operaciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let participante of participantes.data; let i = index">
                      <td>  {{ i + 1}} </td>
                      <td>  {{ participante.evento }} </td>
                      <td>  {{ participante.persona }} </td>
                      <td>  {{ participante.observacion }} </td>
                      <td class="text-center">
                          <a (click)="destroy(participante, i)" title="Eliminar Participante" class="action action-destroy"> <i class="fas fa-trash"></i> </a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div *ngIf="participantes !== null && participantes.last_page > 1" class="paginacion text-center">
                  <div>
                    Página {{ participantes.current_page }} de {{ participantes.last_page }}
                  </div>
                  <button class="paginacion-btn" (click)="loadPages(participantes.first_page_url)"><i class="fa fa-backward"></i></button>
                  <button class="paginacion-btn" (click)="loadPages(participantes.prev_page_url)" [disabled]="participantes.prev_page_url === null"><i class="fa fa-chevron-left"></i></button>
                  <button class="paginacion-btn" *ngFor="let page of pages"
                          [class.activated]="page.page == participantes.current_page"
                          (click)="loadPages(page.url)">{{ page.page }}</button>
                  <button class="paginacion-btn" (click)="loadPages(participantes.next_page_url)" [disabled]="participantes.next_page_url === null"><i class="fa fa-chevron-right"></i></button>
                  <button class="paginacion-btn" (click)="loadPages(participantes.last_page_url)"><i class="fa fa-forward"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




