<aside id="sidebar" class="column-left">
  <header>
    <h1 class="sdbheader"><a style="font-family: OpenSans-Bold;" href="/home">FEPP</a></h1>

    <h2 class="sdbheader" style="color: #dfdfdf;">Fondo Ecuatoriano Populorum Progressio</h2>
  </header>

  <nav id="mainnav">
    <ul>
      <li routerLinkActive="selected-item"><a routerLink="/home">Principal</a></li>
      <li routerLinkActive="selected-item"><a routerLink="#">Examples</a></li>
      <li routerLinkActive="selected-item" ><a routerLink="#">Products</a></li>
      <li routerLinkActive="selected-item"><a routerLink="#">Solutions</a></li>
      <li routerLinkActive="selected-item"><a routerLink="#">Contact</a></li>
    </ul>
    <ul>
      <li routerLinkActive="selected-item"><a routerLink="/login">Cuenta</a></li>
    </ul>
  </nav>
</aside>
