<aside id="sidebar" class="column-left">

  <header>
    <h1><a href="/">FEPP</a></h1>

    <h2>Fondo Ecuatoriano Populorum Progressio</h2>
    
  </header>

  <nav id="mainnav">
      <ul>
                            <li class="selected-item"><a href="/">Principal</a></li>
                            <li><a href="#">Examples</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Solutions</a></li>
                            <li><a href="#">Contact</a></li>
                      </ul>
  </nav>

  
  
  </aside>