<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              &nbsp; &nbsp; <button class="btn btn-dark" routerLink="/miembros"><span class="fa fa-caret-left"></span> &nbsp; Atras</button>
            </div>
          </div>
          <div class="col-md-10">
            <div class="form-group">
              <br>
              <h5 class="title">Inscripción a Evento</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form (submit)="store()" [formGroup]="participanteGroup" *ngIf="personas !== null && eventos !== null" role="form">

              <div class="col-md-12">
                <div class="form-group">
                  <label>* Seleccione Evento</label>
                  <ng-select [items]="eventos"
                             class="custom"
                             id="evento_id"
                             bindLabel="nombre"
                             bindValue="evento_id"
                             formControlName="evento_id">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>* Seleccione Persona</label>
                  <ng-select [items]="personas"
                             class="custom"
                             id="persona_id"
                             bindLabel="nombres"
                             bindValue="persona_id"
                             formControlName="persona_id">
                  </ng-select>
                </div>
              </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <div class="form-group">
                    <button class="btn btn-dark" routerLink="/miembros/listar" >Cancelar &nbsp;  <span class="fa fa-window-close"></span></button>
                    <button class="btn btn-primary" [disabled]="participanteGroup.status === 'INVALID'" type="submit" >Guardar &nbsp;  <span class="fa fa-save"></span></button>
                  </div>  </div>
              </div>
            </div>
          </form>
          <app-miembro-create></app-miembro-create>
        </div>
      </div>
    </div>
  </div>
</div>
