<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <button class="btn btn-info" routerLink="/insumos/suministros"><span class="fa fa-caret-left"></span> &nbsp; Atrás</button>
          <h5 class="title">Registrar Suministro</h5>
        </div>
        <div class="card-body">
          <form (submit)="store()"
                [formGroup]="suministroGroup"
                *ngIf="tipo_insumos !== null"
                role="form">
            <div class="form-group">
              <label>Tipo de Insumo</label>
              <select formControlName="tipo_insumo_id"
                      class="form-control"
                      name="tipo_insumo_id">
                <option [value]="tipo_insumo.tipo_insumo_id" *ngFor="let tipo_insumo of tipo_insumos">{{ tipo_insumo.nombre }}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" class="form-control" formControlName="nombre" name="nombre" id="nombre" autofocus>
            </div>
            <div class="form-group">
              <label>Descripcion</label>
              <input type="text" class="form-control" formControlName="descripcion" name="descripcion" id="descripcion">
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <a class="btn btn-dark" routerLink="/insumos/suministros/listar" >Cancelar &nbsp;  <span class="fa fa-window-close"></span></a>
                  <button class="btn btn-primary" type="submit" >Guardar &nbsp;  <span class="fa fa-save"></span></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="..." width="100%">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img class="avatar border-gray" src="../assets/img/mike.jpg" alt="...">
            </a>
            <br>
            <button class="btn btn-primary" routerLink="/insumos/tipo-insumos/crear" >Tipo de Insumo&nbsp;  <span class="fa fa-save"></span></button>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
