<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              &nbsp; &nbsp;<button class="btn btn-dark" routerLink="/organizaciones"><span class="fa fa-caret-left"></span> &nbsp; Atras</button>
            </div>
          </div>
          <div class="col-md-10">
            <div class="form-group">
              <br>
              <h5 class="title">Registrar Organización</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form (submit)="store()" [formGroup]="organizacionGroup" *ngIf="tipo_organizaciones !== null" role="form">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>* Ruc:</label>
                <input type="text" maxlength="10" onkeypress="if(event.keyCode < 45 || event.keyCode > 57) event.returnValue=false" class="form-control" formControlName="documento" name="documento" id="documento" autofocus>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>* Nombre Organización</label>
                <input type="text" onKeyUp="this.value=this.value.toUpperCase();" class="form-control" formControlName="nombre" name="nombre" id="nombre">
              </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                  <label>* Seleccione Tipo Organización</label>
                  <ng-select [items]="tipo_organizaciones"
                             class="custom"
                             id="tipo_organizacion_id"
                             bindLabel="nombre"
                             bindValue="tipo_organizacion_id"
                             formControlName="tipo_organizacion_id">
                  </ng-select>
                </div>
              </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>* Caracteristica 1</label>
                <select class="form-control" formControlName="caracteristica1" name="caracteristica1">
                  <option value="REGULADA">REGULADA</option>
                  <option value="NO REGULADA">NO REGULADA</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>* Seleccione Actividad</label>
                <ng-select [items]="actividades"
                           class="custom"
                           id="actividad_id"
                           bindLabel="nombre"
                           bindValue="actividad_id"
                           formControlName="actividad_id">
                </ng-select>
              </div>
            </div>

          </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>* Caracteristica 2</label>
                  <select class="form-control" formControlName="caracteristica2" name="caracteristica2">
                    <option value="NO REGULADA">BASE</option>
                    <option value="NO REGULADA">SEGUNDO GRADO</option>
                  </select> </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>* Caracteristica 3</label>
                  <select class="form-control" formControlName="caracteristica3" name="caracteristica3">
                    <option value="REGULADA">ASOCIACION</option>
                    <option value="REGULADA">EMPRESA</option>
                    <option value="NO REGULADA">EMPRENDIMEITNO</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>* MINISTERIO</label>
                  <select class="form-control" formControlName="ministerio" name="ministerio">
                    <option value="NO REGULADA">MAG</option>
                    <option value="REGULADA">MIES</option>
                    <option value="REGULADA">MIPRO</option>
                    <option value="NO REGULADA">OTRO/A</option>
                  </select>  </div>
              </div>
            </div>


            <div class="row">



              <div class="col-md-4">
                <div class="form-group">
                  <label>* Representante</label>
                  <input type="text" onKeyUp="this.value=this.value.toUpperCase();" class="form-control" formControlName="representante" name="representante" id="representante">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Contacto</label>
                  <input type="text" maxlength="10" onkeypress="if(event.keyCode < 45 || event.keyCode > 57) event.returnValue=false" class="form-control" formControlName="contacto" name="contacto" id="contacto">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                <label>Descripción</label>
                  <input type="text" onKeyUp="this.value=this.value.toUpperCase();" class="form-control" formControlName="descripcion" name="descripcion" id="descripcion">
              </div>
              </div>
              <div class="col-md-4">
                <div>
                  <label>Logo</label>
                  <input type="file" class="form-control"
                         #imagen
                         (change)="loadImage()"
                         name="imagen" id="imagen">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Acuerdo Ministerial</label>
                  <input type="text" onKeyUp="this.value=this.value.toUpperCase();" class="form-control" formControlName="acuerdo" name="acuerdo" id="acuerdo">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>N° Mujeres</label>
                  <input type="number" onKeyPress="if(this.value.length==3) return false;" class="form-control" formControlName="mujeres" name="mujeres" id="mujeres">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>N° Niñas</label>
                  <input type="number" onKeyPress="if(this.value.length==3) return false;" class="form-control" formControlName="ninias" name="ninias" id="ninias">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>N° Hombres</label>
                  <input type="number" onKeyPress="if(this.value.length==3) return false;" class="form-control" formControlName="hombres" name="hombres" id="hombres">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>N° Niños</label>
                  <input type="number" onKeyPress="if(this.value.length==3) return false;" class="form-control" formControlName="ninios" name="ninios" id="ninios">
                </div>
              </div>
            </div>
            <br>
              <div class="col-md-12 text-right">
                    <button class="btn btn-info" type="submit" [disabled]="organizacionGroup.status === 'INVALID'">Guardar &nbsp;  <span class="fa fa-save"></span></button>&nbsp;&nbsp;
                    <button class="btn btn-dark" routerLink="/organizaciones" >Cancelar &nbsp;  <span class="fa fa-window-close"></span></button>
              </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <br><br><br>
            <hr>
            <img #preview src="../assets/img/mike.jpg" width="200px">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
