<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              &nbsp; &nbsp;<button class="btn btn-dark" routerLink="/asignacioneventos"><span class="fa fa-caret-left"></span> &nbsp; Atras</button>
            </div>
          </div>
          <div class="col-md-10">
            <div class="form-group">
              <br>
              <h5 class="title">Responsables Proyecto</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form (submit)="store()" [formGroup]="asignacionproyectoGroup" *ngIf="usuarios !== null && proyectoss !== null" role="form">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>* Seleccione Proyecto :</label>
                  <ng-select [items]="proyectoss"
                             class="custom"
                             id="proyecto_id"
                             bindLabel="nombre"
                             bindValue="proyecto_id"
                             formControlName="proyecto_id">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>* Seleccione Coordinador Responsable :</label>
                  <ng-select [items]="usuarios"
                             class="custom"
                             id="usuario_id"
                             bindLabel="nombres"
                             bindValue="usuario_id"
                             formControlName="usuario_id">
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Descripción :</label>
                  <input type="text" onKeyUp="this.value=this.value.toUpperCase();" class="form-control" formControlName="descripcion" name="descripcion" id="descripcion">
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12 text-right">
                <div class="form-group">
                  <div class="form-group">
                    <button class="btn btn-info" type="submit" [disabled]="asignacionproyectoGroup.status === 'INVALID'">Guardar &nbsp;  <span class="fa fa-save"></span></button>&nbsp;&nbsp;
                    <button class="btn btn-dark" routerLink="/asignacioneventos" >Cancelar &nbsp;  <span class="fa fa-window-close"></span></button>
                  </div>  </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="..." width="100%">
        </div>
        <div class="card-body" >
          <div class="author">
            <br><br><br><br>
            <img #preview src="../assets/img/mike.jpg" width="250px">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
