<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              &nbsp; &nbsp; <button class="btn btn-dark" routerLink="/asignaciones"><span class="fa fa-caret-left"></span> &nbsp; Atras</button>
            </div>
          </div>
          <div class="col-md-10">
            <div class="form-group">
              <br>
              <h5 class="title">Registrar Insumos</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form (submit)="store()" [formGroup]="insumoGroup" *ngIf="eventos !== null && tipos !== null" role="form">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>* Seleccione el Evento :</label>
                  <ng-select [items]="eventos"
                             class="custom"
                             id="evento_id"
                             bindLabel="nombre"
                             bindValue="evento_id"
                             formControlName="evento_id">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>* Seleccione tipo Insumo :</label>
                  <ng-select [items]="tipos"
                             class="custom"
                             id="tipo_id"
                             bindLabel="nombre"
                             bindValue="tipo_id"
                             formControlName="tipo_id">
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>* Cantidad :</label>
                  <input type="number" class="form-control" formControlName="cantidad" name="cantidad" id="cantidad">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Fecha Entrega :</label>
                  <input type="date" [ngModel]="today | date:'yyyy-MM-dd'" name="fecha" id="fecha" formControlName="fecha" class="form-control">
                </div>
              </div>
            </div>
           <div class="row">
             <div class="col-md-6">
               <div class="form-group">
                 <label>* Seleccione el Receptor :</label>
                 <ng-select [items]="personas"
                            class="custom"
                            id="receptor"
                            bindLabel="nombres"
                            bindValue="nombres"
                            formControlName="receptor">
                 </ng-select>
               </div>
             </div>
             <div class="col-md-6">
               <div>
                 <label>* Seleccione Imagen :</label>
                 <input type="file" class="form-control"
                        #imagen
                        name="imagen" id="imagen">
               </div>
             </div>
           </div>
            <hr>
            <div class="row">
              <div class="col-md-12 text-right">
                <div class="form-group">
                  <div class="form-group">
                    <button class="btn btn-info" [disabled]="insumoGroup.status === 'INVALID'" type="submit" >Guardar &nbsp;  <span class="fa fa-save"></span></button>
                    <button class="btn btn-dark" routerLink="/asignaciones/listar" >Cancelar &nbsp;  <span class="fa fa-window-close"></span></button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="..." width="100%">
        </div>
        <div class="card-body" >
          <div class="author">
            <br><br><br><br>
            <img #preview src="../assets/img/mike.jpg" width="250px">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
