<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="btn-group col-md-3 text-left" role="group" style="justify-content: flex-end;">
        <button class="btn btn-primary" routerLink="/tipoorganizacion/crear">CREAR TIPO ORGANIZACION &nbsp; <span class="fa fa-save"></span></button>
        </div>
        <div class="btn-group col-md-9 text-right" role="group" style="justify-content: flex-end;">
          <button class="btn btn-info" routerLink="/organizaciones/listar">LISTA ORGANIZACIONES &nbsp; <span class="fa fa-caret-left"></span></button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table" *ngIf=" tipoorganizaciones!== null">
              <thead>
              <tr class="text-primary">
                <th>#</th>
                <th>Nombre</th>
                <th>Detalle</th>
                <th>Operaciones</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let tipoorg of tipoorganizaciones.data; let i = index">
                <td>
                  {{ tipoorg.tipo_organizacion_id }}
                </td>
                <td>
                  {{ tipoorg.nombre }}
                </td>
                <td>
                  {{ tipoorg.descripcion }}
                </td>
                <td class="text-center">
                  <button routerLink="/tipoorganizaciones/editar/{{tipoorg.tipo_organizacion_id}}" type="button" class="btn btn-xs btn-info">
                    <i class="fa fa-edit"></i>
                  </button>                  &nbsp;
                  <button type="button" class="btn btn-xs btn-danger" (click)="destroy(tipoorg, i)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
