<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Tipo Organizaciones</h4>
          <div class="row">
            <div class="col-8">
              <button class="btn btn-primary" routerLink="/tipoorganizacion/crear">REGISTRAR &nbsp; <span class="fa fa-save"></span></button>
            </div>
            <div class="col-4">
              <form action="" method="post" class="form-inline" role="form">
                <div class="form-group">
                  <label class="sr-only" for="">label</label>
                  <input type="email" class="input-search" name="" id="">
                </div>
                <button type="submit" class="btn btn-primary">Buscar</button>
              </form>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table small" *ngIf=" tipoorganizaciones!== null">
              <thead style="background-color: #303030; color: #f7f7f7">
              <tr>
                <th>#</th>
                <th>Tipo</th>
                <th>Nombre</th>
                <th>Detalle</th>
                <th class="text-center">Operaciones</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let tipoorg of tipoorganizaciones.data; let i = index">
                <td>
                  {{ tipoorg.tipo_organizacion_id }}
                </td>
                <td>
                  {{ tipoorg.tipo }}
                </td>
                <td>
                  {{ tipoorg.nombre }}
                </td>
                <td>
                  {{ tipoorg.descripcion }}
                </td>
                <td class="text-center">
                  <button routerLink="/tipoorganizacion/editar/{{tipoorg.tipo_organizacion_id}}" type="button" class="btn btn-xs btn-info">
                    <i class="fa fa-edit"></i>
                  </button>                  &nbsp;
                  <button type="button" class="btn btn-xs btn-danger" (click)="destroy(tipoorg, i)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
