<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              &nbsp; &nbsp;          <button class="btn btn-dark" routerLink="/organizaciones"><span class="fa fa-caret-left"></span> &nbsp; Atrás</button>
            </div>
          </div>
          <div class="col-md-10">
            <div class="form-group">
              <br>
              <h5 class="title">Editar Organización</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form (submit)="update()" [formGroup]="organizacionGroup" *ngIf="organizacion !== null && tipo_organizaciones !== null && actividades !== null" role="form">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>* Ruc:</label>
                  <input type="text" maxlength="13" onkeypress="if(event.keyCode < 45 || event.keyCode > 57) event.returnValue=false" class="form-control" formControlName="documento" name="documento" id="documento" autofocus>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>* Nombre Organización</label>
                  <input type="text" onKeyUp="this.value=this.value.toUpperCase();" class="form-control" formControlName="nombre" name="nombre" id="nombre">
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>* Seleccione Tipo Organización</label>
                  <ng-select [items]="tipo_organizaciones"
                             class="custom"
                             id="tipo_organizacion_id"
                             bindLabel="nombre"
                             bindValue="tipo_organizacion_id"
                             formControlName="tipo_organizacion_id">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>* Seleccione Caracteristica 1</label>
                  <select class="form-control" formControlName="caracteristica1" name="caracteristica1">
                    <option value="REGULADA">REGULADA</option>
                    <option value="NO REGULADA">NO REGULADA</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>* Seleccione Caracteristica 2</label>
                  <select class="form-control" formControlName="caracteristica2" name="caracteristica2">
                    <option value="BASE">BASE</option>
                    <option value="SEGUNDO GRADO">SEGUNDO GRADO</option>
                  </select> </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>* Seleccione Caracteristica 3</label>
                  <select class="form-control" formControlName="caracteristica3" name="caracteristica3">
                    <option value="ASOCIACION">ASOCIACION</option>
                    <option value="EMPRESA">EMPRESA</option>
                    <option value="EMPRENDIMIENTO">EMPRENDIMIENTO</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>* Seleccione Actividad</label>
                  <ng-select [items]="actividades"
                             class="custom"
                             id="actividad_id"
                             bindLabel="nombre"
                             bindValue="actividad_id"
                             formControlName="actividad_id">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>* Ministerio</label>
                  <select class="form-control" formControlName="ministerio" name="ministerio">
                    <option value="NO REGULADA">MAG</option>
                    <option value="REGULADA">MIES</option>
                    <option value="REGULADA">MIPRO</option>
                    <option value="OTRO/A">OTRO/A</option>
                  </select>  </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Acuerdo Ministerial</label>
                  <input type="text" onKeyUp="this.value=this.value.toUpperCase();" class="form-control" formControlName="acuerdo" name="acuerdo" id="acuerdo">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>* Nombre Representante Legal</label>
                  <input type="text" onKeyUp="this.value=this.value.toUpperCase();" class="form-control" formControlName="representante" name="representante" id="representante">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Número Telefónico</label>
                  <input type="text" maxlength="10" onkeypress="if(event.keyCode < 45 || event.keyCode > 57) event.returnValue=false" class="form-control" formControlName="contacto" name="contacto" id="contacto">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>N° Mujeres</label>
                  <input type="number" onKeyPress="if(this.value.length==3) return false;" class="form-control" formControlName="mujeres" name="mujeres" id="mujeres" value="0">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>N° Niñas</label>
                  <input type="number" onKeyPress="if(this.value.length==3) return false;" class="form-control" formControlName="ninias" name="ninias" id="ninias" value="0">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>N° Hombres</label>
                  <input type="number" onKeyPress="if(this.value.length==3) return false;" class="form-control" formControlName="hombres" name="hombres" id="hombres" value="0">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>N° Niños</label>
                  <input type="number" onKeyPress="if(this.value.length==3) return false;" class="form-control" formControlName="ninios" name="ninios" id="ninios" value="0">
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Dirección :</label>
                <input type="text" onKeyUp="this.value=this.value.toUpperCase();" class="form-control" formControlName="descripcion" name="descripcion" id="descripcion">
              </div>
            </div>
            <br>
              <div class="col-md-12 text-right">
                  <button class="btn btn-info" type="submit" >Actualizar&nbsp;  <span class="fa fa-save"></span></button>&nbsp;&nbsp;
                  <a class="btn btn-dark" routerLink="/organizaciones" >Cancelar &nbsp;  <span class="fa fa-window-close"></span></a>
              </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="..." width="100%">
        </div>
        <div class="card-body">
          <div class="author">
            <br><br><br>
            <img #preview src="../assets/img/mike.jpg" width="200px">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
