<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Suministros</h4>
          <div class="row">
            <div class="col-8">
              <button class="btn btn-primary" routerLink="/insumos/suministros/crear">REGISTRAR &nbsp; <span class="fa fa-save"></span></button>
            </div>
            <div class="col-4">
              <form (submit)="buscar()" class="form-inline" role="form">
                <div class="form-group">
                  <input type="email" class="input-search"
                         [(ngModel)]="valor"
                         name="valor">
                </div>
                <button type="submit" class="btn btn-primary">Buscar</button>
              </form>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table small" *ngIf="suministros !== null">
              <thead>
              <tr class="text-primary">
                <th>#</th>
                <th>Tipo de Insumo</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Operaciones</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let suministro of suministros.data; let i = index">
                <td>
                  {{ i + 1 }}
                </td>
                <td>
                  {{ suministro.tipo_insumo }}
                </td>
                <td>
                  {{ suministro.nombre }}
                </td>
                <td>
                  {{ suministro.descripcion }}
                </td>
                <td class="text-center">
                  <button routerLink="/insumos/suministros/editar/{{suministro.suministro_id}}" type="button" class="btn btn-xs btn-info">
                    <i class="fa fa-edit"></i>
                  </button>                  &nbsp;
                  <button type="button" class="btn btn-xs btn-danger" (click)="destroy(suministro, i)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="suministros !== null && suministros.last_page > 1" class="paginacion text-center">
            <div>
              Página {{ suministros.current_page }} de {{ suministros.last_page }}
            </div>
            <button class="paginacion-btn" (click)="load(suministros.first_page_url)"><i class="fa fa-backward"></i></button>
            <button class="paginacion-btn" (click)="load(suministros.prev_page_url)" [disabled]="suministros.prev_page_url === null"><i class="fa fa-chevron-left"></i></button>
            <button class="paginacion-btn" *ngFor="let page of pages"
                    [class.activated]="page.page == suministros.current_page"
                    (click)="load(page.url)">{{ page.page }}</button>
            <button class="paginacion-btn" (click)="load(suministros.next_page_url)" [disabled]="suministros.next_page_url === null"><i class="fa fa-chevron-right"></i></button>
            <button class="paginacion-btn" (click)="load(suministros.last_page_url)"><i class="fa fa-forward"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
