<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              &nbsp; &nbsp;          <button class="btn btn-dark" routerLink="/asignaciones"><span class="fa fa-caret-left"></span> &nbsp; Atrás</button>
            </div>
          </div>
          <div class="col-md-10">
            <div class="form-group">
              <br>
              <h5 class="title">Editar Insumo</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form (submit)="update()" [formGroup]="insumoGroup" *ngIf="insumo !== null && eventos !== null && tipos !== null" role="form">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>* Seleccione Evento</label>
                  <ng-select [items]="eventos"
                             class="custom"
                             id="evento_id"
                             bindLabel="nombre"
                             bindValue="evento_id"
                             formControlName="evento_id">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>* Seleccione tipo Insumo</label>
                  <ng-select [items]="tipos"
                             class="custom"
                             id="tipo_id"
                             bindLabel="nombre"
                             bindValue="tipo_id"
                             formControlName="tipo_id">
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>* Cantidad</label>
                  <input type="number" class="form-control" formControlName="cantidad" name="cantidad" id="cantidad">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Fecha</label>
                  <input type="date" name="fecha" id="fecha" formControlName="fecha" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>* Receptor</label>
                  <input type="text" onKeyUp="this.value=this.value.toUpperCase();" name="receptor" id="receptor" formControlName="receptor" class="form-control">
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12 text-right">
                <div class="form-group">
                  <button class="btn btn-info" type="submit" >Actualizar&nbsp;  <span class="fa fa-save"></span></button>
                  <a class="btn btn-dark" routerLink="/asignaciones" >Cancelar &nbsp;  <span class="fa fa-window-close"></span></a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <br><br><br>
            <hr>
            <img #preview src="../assets/img/mike.jpg" width="200px">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
