<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <button class="btn btn-primary" routerLink="/organizaciones/crear">REGISTRAR &nbsp;  <span class="fa fa-save"></span></button>
          <h4 class="card-title"> ORGANIZACIONES</h4>
        </div>
        <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr class="text-primary">
                      <th>#</th>
                      <th>Tipo</th>
                      <th>Imagen</th>
                      <th>Descripción</th>
                      <th>Zona</th>
                      <th>Contacto</th>
                      <th>Cargo</th>
                      <th>Representante</th>
                      <th>Operaciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td scope="row">1</td>
                      <td>fds</td>
                      <td>fdsf</td>
                      <td>dsfdsf</td>
                      <td>fdsdsf</td>
                      <td>fsdf</td>
                      <td>sdf</td>
                      <td>sdf</td>
                      <td>sdf</td>
                    </tr>
                    <tr>
                      <td scope="row">2</td>
                      <td>fds</td>
                      <td>fdsf</td>
                      <td>dsfdsf</td>
                      <td>fdsdsf</td>
                      <td>fsdf</td>
                      <td>sdf</td>
                      <td>sdf</td>
                      <td>sdf</td>
                    </tr>
                    <tr>
                      <td scope="row">3</td>
                      <td>fds</td>
                      <td>fdsf</td>
                      <td>dsfdsf</td>
                      <td>fdsdsf</td>
                      <td>fsdf</td>
                      <td>sdf</td>
                      <td>sdf</td>
                      <td>sdf</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
        </div>
      </div>
    </div>
  </div>
</div>
