<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <button class="btn btn-primary" routerLink="/organizaciones/crear">REGISTRAR ORGANIZACIÓN  <span class="fa fa-save"></span></button>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div style="overflow-x:auto;">

              <div class="card">
                <div class="card-header">
                  <form (submit)="buscar(valor)" class="form-inline" role="form">
                    <div>
                      <input type="search" id="search"
                             [(ngModel)]="valor"
                             name="valor"
                             class="input-search"
                             placeholder="Organizacion..">
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn-search">BUSCAR</button>
                    </div>
                  </form>
                </div>
              <div class="card-body">
              <div class="table-responsive">
              <table class="table " *ngIf="organizaciones !== null">
                <thead class=" text-primary">
                <tr>
                  <th> #   </th>
                  <th> Tipo   </th>
                  <th> Nombre   </th>
                  <th> Actividad   </th>
                  <th> Representante </th>
                  <th> Contacto </th>
                  <th> Imagen </th>
                  <th> Acciones   </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let organizacion of organizaciones.data; let i = index">
                  <td>  {{ organizacion.organizacion_id }} </td>
                  <td>  {{ organizacion.tipo_organizacion_id }} </td>
                  <td>  {{ organizacion.nombre }} </td>
                  <td>  {{ organizacion.actividad }} </td>
                  <td>  {{ organizacion.representante }} </td>
                  <td>  {{ organizacion.contacto }} </td>
                  <td class="text-center">
                    <img src="{{url_base}}{{organizacion.imagen}}" [alt]="organizacion.nombre" width="80" height="80">
                  </td>
                  <td class="text-center">
                    <button routerLink="/organizaciones/editar/{{organizacion.organizacion_id}}" type="button"
                            class="btn btn-xs btn-info">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-xs btn-danger" (click)="destroy(organizacion, i)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
              </div>
              </div>
              </div>

              <!-- end table-->
              <div class="container-fluid" *ngIf="organizaciones !== null">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <small>Página {{ current_page }}</small>
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-4">
                          <small> <button class="page-link" [disabled]="prev_page === null" (click)="loadPagination(prev_page)">Anterior</button> </small>

                        </div>
                        <div class="col-md-4">
                          <small> <button class="page-link" *ngFor="let page of pages"(click)="loadPagination(page.url)">{{ page.item }}</button> </small>

                        </div>
                        <div class="col-md-4">
                          <small> <button class="page-link" [disabled]="next_page === null" (click)="loadPagination(next_page)">Siguiente</button> </small>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end paginate-->
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>




