<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="row">
          <div class="col-md-12">
            <div style="overflow-x:auto;">
              <div class="card">
                <h3>&nbsp;&nbsp;Lista Organizaciones</h3>
                <div class="container">
                  <div class="row">
                    <div class="col-sm">
                      <button class="btn btn-primary" routerLink="/organizaciones/crear">REGISTRAR &nbsp; <span class="fa fa-save"></span></button>
                    </div>
                    <div class="col-sm">
                    </div>
                    <div class="col-sm">
                      <form (submit)="buscar()" class="form-inline" role="form">
                        <div class="form-group">
                          <input type="email" class="input-search"
                                 [(ngModel)]="valor"
                                 name="valor">
                        </div>
                        <button type="submit" class="btn btn-primary">Buscar</button>
                      </form>
                    </div>
                  </div>
                </div>




              <div class="card-body">
              <div class="table-responsive">
              <table class="table small" *ngIf="organizaciones !== null">
                <thead style="background-color: #303030; color: #f7f7f7">
                <tr>
                  <th> #   </th>
                  <th> Logo </th>
                  <th> Organización   </th>
                  <th> Actividad   </th>
                  <th> Nombre   </th>
                  <th> Representante </th>
                  <th> Contacto </th>
                  <th> N° Personas </th>
                  <th class="text-center">Operaciones</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let organizacion of organizaciones.data; let i = index">
                  <td>  {{ i + 1}} </td>
                  <td>
                    <div class="logo" *ngIf="organizacion.imagen === 'sin_imagen'">
                      <i class="fa fa-building"></i>
                    </div>
                    <img *ngIf="organizacion.imagen !== 'sin_imagen'"
                         height="80"
                         width="80"
                         src="{{url_base}}{{organizacion.imagen}}"> </td>
                  <td>  {{ organizacion.tipoorganizacion }} </td>
                  <td>  {{ organizacion.actividad }} </td>
                  <td>  {{ organizacion.nombre }} </td>
                  <td>  {{ organizacion.representante }} </td>
                  <td>  {{ organizacion.contacto }} </td>
                  <td>  {{ organizacion.total }} </td>

                  <td class="text-center">
                    <button routerLink="/organizaciones/editar/{{organizacion.organizacion_id}}" type="button"
                            class="btn btn-xs btn-info">
                      <i class="fa fa-edit"></i>
                    </button>&nbsp;
                    <button type="button" class="btn btn-xs btn-danger" (click)="destroy(organizacion, i)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
              </div>
                <div *ngIf="organizaciones !== null && organizaciones.last_page > 1" class="paginacion text-center">
                  <div>
                    Página {{ organizaciones.current_page }} de {{ organizaciones.last_page }}
                  </div>
                  <button class="paginacion-btn" (click)="loadPages(organizaciones.first_page_url)"><i class="fa fa-backward"></i></button>
                  <button class="paginacion-btn" (click)="loadPages(organizaciones.prev_page_url)" [disabled]="organizaciones.prev_page_url === null"><i class="fa fa-chevron-left"></i></button>
                  <button class="paginacion-btn" *ngFor="let page of pages"
                          [class.activated]="page.page == organizaciones.current_page"
                          (click)="loadPages(page.url)">{{ page.page }}</button>
                  <button class="paginacion-btn" (click)="loadPages(organizaciones.next_page_url)" [disabled]="organizaciones.next_page_url === null"><i class="fa fa-chevron-right"></i></button>
                  <button class="paginacion-btn" (click)="loadPages(organizaciones.last_page_url)"><i class="fa fa-forward"></i></button>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




