<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Georeferenciación Ecuador</h2>
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        &nbsp; &nbsp;<button class="btn btn-dark" routerLink="/ubicaciones"><span class="fa fa-caret-left"></span> &nbsp; Atras</button>
        <div class="card-header">
          <h4 class="card-title">Crear Provincia</h4>
        </div>
        <div class="card-body">
              <form (submit)="storeprovincia()"
                    [formGroup]="provinciaGroup" role="form">
                <div class="form-group">
                  <label>Codigo</label>
                  <input type="text" class="form-control" formControlName="codigo" name="codigo" autofocus>
                </div>
                <div class="form-group">
                  <label>Nombre</label>
                  <input type="text" class="form-control" formControlName="nombre" name="nombre" autofocus>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <button class="btn btn-primary" type="submit" >Guardar &nbsp; <span class="fa fa-save"></span></button>
                    </div>
                  </div>
                </div>
                <br>
              </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Ingresar Cantón</h4>
        </div>
        <div class="card-body">
          <form (submit)="storeciudad()" [formGroup]="ciudadGroup" *ngIf="provincias !== null" role="form">
            <div class="form-group">
            <label>Seleccione Provincia</label>
              <ng-select [items]="provincias"
                         class="custom"
                         id="provincia_id"
                         bindLabel="nombre"
                         bindValue="provincia_id"
                         formControlName="provincia_id">
              </ng-select>
            </div>
            <div class="form-group">
              <label>Codigo</label>
              <input type="text" class="form-control" formControlName="codigo" name="codigo" autofocus>
            </div>
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" class="form-control" formControlName="nombre" name="nombre" autofocus>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <button class="btn btn-primary" type="submit" >Guardar &nbsp;  <span class="fa fa-save"></span></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="places-buttons">
            <div class="row">
              <div class="col-md-6 ml-auto mr-auto text-center">
                <h4 class="card-title">
                  Ingresar Parroquias
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 ml-auto mr-auto">
                <form (submit)="storeparroquia()" [formGroup]="parroquiaGroup" *ngIf="ciudades !== null" role="form">
                  <div class="form-group">
                    <label>Seleccione Cantón</label>
                    <ng-select [items]="ciudades"
                               class="form-control"
                               id="ciudad_id"
                               bindLabel="nombre"
                               bindValue="ciudad_id"
                               formControlName="ciudad_id">
                    </ng-select>
                  </div>
                  <div class="form-group">
                    <label>Codigo</label>
                    <input type="text" class="form-control" formControlName="codigo" name="codigo" autofocus>
                  </div>
                  <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" formControlName="nombre" name="nombre" autofocus>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <button class="btn btn-primary" type="submit" >Guardar &nbsp;  <span class="fa fa-save"></span></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Ingresar Barrio</h4>
        </div>
        <div class="card-body">
          <form (submit)="storebarrio()" [formGroup]="barrioGroup" *ngIf="parroquias !== null" role="form">
            <div class="form-group">
              <label>Seleccione Parroquia</label>
              <!--<select name="parroquia_id" id="parroquia_id" formControlName="parroquia_id" class="form-control">-->
                <!--<option [value]="parroquia.parroquia_id" *ngFor="let parroquia of parroquias">{{ parroquia.nombre }}</option>-->
              <!--</select>-->
              <ng-select [items]="parroquias"
                         class="form-control"
                         id="parroquia_id"
                         bindLabel="nombre"
                         bindValue="parroquia_id"
                         formControlName="parroquia_id">
              </ng-select>
            </div>

            <div class="form-group">
              <label>Comunidad</label>
              <input type="text" class="form-control" formControlName="comunidad" name="comunidad" autofocus>
            </div>
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" class="form-control" formControlName="nombre" name="nombre">
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <button class="btn btn-primary" type="submit" >Guardar &nbsp;  <span class="fa fa-save"></span></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
