<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <br>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <div class="card">
                      <h5 class="card-header" style="background-color: #303030;color: #ffffff">
                        Eventos por mes
                      </h5>
                      <div class="card-body">
                        <p class="card-text">
                          <plotly-plot [data]="eventos.data" [layout]="eventos.layout" class="table-responsive"></plotly-plot>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card">
                      <h5 class="card-header" style="background-color: #303030;color: #ffffff">
                        Beneficiarios por mes
                      </h5>
                      <div class="card-body">
                        <p class="card-text">
                          <app-graficabeneficiarios></app-graficabeneficiarios>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <h5>&nbsp;&nbsp; <strong>Eventos en curso</strong></h5>
              <hr>
              <div class="card-body">
                <div *ngIf="reportes !== null" class="table-responsive">
                  <table class="table">
                    <thead style="background-color: #e9ecef; color: #007bff">
                    <th> #   </th>
                    <th> Imagen   </th>
                    <th> Nombre Evento  </th>
                    <th> Responsable</th>
                    <th> Dirección </th>
                    <th> Inicia </th>
                    <th> Finaliza </th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let evento of reportes.data; let i = index">
                      <td>  {{i+1}} </td>
                      <td>
                        <span *ngIf="!evento.imagen" class="badge badge-danger">Sin imagen</span>
                        <img src="{{base_imagen}}{{evento.imagen}}" height="75"
                             [alt]="evento.nombre" *ngIf="evento.imagen">
                      </td>
                      <td width="400px">  {{ evento.nombre }} </td>
                      <td width="350px">  {{ evento.usuario }} </td>
                      <td>  {{ evento.direccion }} </td>
                      <td>  {{ evento.fecha_evento | date: 'yyy/MM/dd' }} </td>

                      <div *ngIf="(evento.fecha_finaliza|date:'yyy/MM/dd') < (today |date:'yyy/MM/dd')">
                        <td style="background-color: rgba(113,241,113,0.67)" width="200px">  {{ evento.fecha_finaliza | date: 'yyy/MM/dd' }}  </td>
                      </div>
                      <div *ngIf="(evento.fecha_finaliza|date:'yyy/MM/dd') >= (today |date:'yyy/MM/dd')">
                        <td style="background-color: rgba(247,255,0,0.49)" width="200px">  {{ evento.fecha_finaliza | date: 'yyy/MM/dd' }} </td>
                      </div>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div *ngIf="reportes !== null && reportes.last_page > 1" class="paginacion text-center">
                  <div>
                    Página {{ reportes.current_page }} de {{ reportes.last_page }}
                  </div>
                  <button class="paginacion-btn" (click)="loadPagination(reportes.first_page_url)"><i class="fa fa-backward"></i></button>
                  <button class="paginacion-btn" (click)="loadPagination(reportes.prev_page_url)" [disabled]="reportes.prev_page_url === null"><i class="fa fa-chevron-left"></i></button>
                  <button class="paginacion-btn" *ngFor="let page of pages" [class.activated]="page.page == reportes.current_page" (click)="loadPagination(page.url)">{{ page.page }}</button>
                  <button class="paginacion-btn" (click)="loadPagination(reportes.next_page_url)" [disabled]="reportes.next_page_url === null"><i class="fa fa-chevron-right"></i></button>
                  <button class="paginacion-btn" (click)="loadPagination(reportes.last_page_url)"><i class="fa fa-forward"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




